<div *ngIf="personalInfo !== null" class="ui segment dzb-profile">
  <h1 [innerText]="personalInfo.username" class="dzb-username"></h1>
  <div class="ui stacked segments dzb-user-subtitle">
    <!--
      [TODO] To be added back in the future
      <div class="ui red segment dzb-user-subtitle-item">
      <span [innerText]="personalInfo.userAcademicDegree"></span>
      <div class="ui top attached segment dzb-user-inner-information"
        [innerText]="personalInfo.userAcademicDescription1"></div>
      <div class="ui bottom attached segment dzb-user-inner-information"
        [innerText]="personalInfo.userAcademicDescription2"></div>
      </div>
    -->
    <div *ngIf="personalInfo.userUniversity" class="ui orange segment dzb-user-subtitle-item">
      <span [innerText]="personalInfo.userUniversity"></span>
    </div>
    <div class="ui yellow segment dzb-user-subtitle-item">
      <span [innerText]="personalInfo.userEmail"></span>
    </div>
    <div *ngIf="personalInfo.userLinkedInUrl" class="ui green segment dzb-user-subtitle-item">
      <a [href]="personalInfo.userLinkedInUrl" class="dzb-user-LinkedIn">LinkedIn</a>
    </div>
    <div *ngIf="personalInfo.userPhoneNumber" class="ui blue segment dzb-user-subtitle-item">
      <span [innerText]="personalInfo.userPhoneNumber"></span>
    </div>
  </div>
</div>