<div class="ui yellow inverted vertical segment">
  <div class="ui center aligned container">
    <div class="ui black divided stackable grid">
      <div class="three wide column">
        <img [src]="'assets/images/wechat-QR-code.jpg'"
          class="ui rounded image dzb-footer-QR-code dzb-mobile-QR-code-centered">
      </div>
      <div class="three wide column">
        <h1 class="ui header dzb-footer-header">{{ "footer.updates.header" | translate }}</h1>
        <div class="ui inverted link list">
          <!-- [TODO] To be replaced by *ngFor -->
          <a class="item">NULL</a>
          <a class="item">NULL</a>
          <a class="item">NULL</a>
        </div>
      </div>
      <div class="three wide column">
        <h1 class="ui header dzb-footer-header">{{ "footer.contact.header" | translate }}</h1>
        <div class="ui inverted link list">
          <a class="item">{{ "footer.contact.content" | translate }}</a>
        </div>
      </div>
      <div class="seven wide column">
        <h1 class="ui header dzb-footer-header">{{ "footer.introduction.header" | translate }}</h1>
        <div class="ui inverted link list">
          <a class="item">{{ "footer.introduction.description" | translate }}</a>
        </div>
      </div>
    </div>
    <div class="ui inverted section divider"></div>
    <p>{{ "footer.copyright.content" | translate }}</p>
  </div>
</div>