<div *ngFor="let experience of experiences.reverse(); trackBy: detectChange">
  <div class="ui segment">
    <button class="ui red button" *ngIf="isEditting" (click)="delete(experience.id)">delete</button>
    <div *ngIf="experience.period" class="ui top attached left aligned teal segment dzb-experience-inner-information">
      <i class="big calendar alternate outline icon"></i>
      <span [innerText]="experience.period" class="dzb-experience-period"></span>
    </div>
    <div *ngIf="experience.title" class="ui attached teal segment dzb-experience-inner-information">
      <span [innerText]="experience.title" class="dzb-experience-title"></span>
    </div>
    <div *ngIf="experience.institution" class="ui attached left aligned teal segment dzb-experience-inner-information">
      <i class="big building outline icon"></i>
      <span [innerText]="experience.institution" class="dzb-experience-institution"></span>
    </div>
    <div *ngIf="experience.location" class="ui attached left aligned teal segment dzb-experience-inner-information">
      <i class="big location arrow icon"></i>
      <span [innerText]="experience.location" class="dzb-experience-location"></span>
    </div>
    <div *ngIf="experience.description" class="ui bottom {{ experience.type === 'Skill' ? '' : 'attached' }} left aligned teal segment dzb-experience-inner-information">
      <div>
        <i class="big file alternate outline icon"></i>
      </div>
      <div class="dzb-experience-description-container">
        <span [innerText]="experience.description" class="dzb-experience-description"></span>
      </div>
    </div>
  </div>
</div>