.dzb-create-content-button {
  position: absolute !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}

.dzb-create-content-margin {
  margin-bottom: 15px !important;
}

.dzb-create-content-button-container {
  height: 50px !important;
  background-color: transparent !important;
  padding-top: 25px !important;
  margin-bottom: 15px !important;
}