<div *ngFor="let blog of getSortedBlogs(); trackBy: detectChange">
  <div class="ui segment dzb-blog-item-content-background">
    <button class="ui red button dzb-blog-delete-button" *ngIf="isBlogOwner(blog)" (click)="delete(blog.id)">
      {{ "blog-item.blog.delete" | translate }}
    </button>
    <div class="ui link cards">
      <div class="card dzb-blog-item">
        <div class="image">
          <img [src]="blog.image">
        </div>
        <div class="content">
          <div [innerText]="blog.title" class="header dzb-blog-item-title"></div>
          <div class="meta dzb-blog-item-misc-text">
            <span [innerText]="blog.subtitle"></span>
          </div>
          <div class="meta dzb-blog-item-misc-text">
            <span [innerText]="blog.username" (click)="viewProfile(blog.username)"></span>
          </div>
          <div [innerText]="blog.content" class="description dzb-blog-item-content"></div>
        </div>
        <div class="extra content dzb-blog-item-misc-text">
          <span [innerText]="blog.date | time" class="right floated"></span>
          <a><i class="heart icon"></i>{{ blog.likes }}</a>
        </div>
      </div>
    </div>
  </div>
</div>