<div class="container mt-4">
  <div class="row">
    <div class="col-md-6" *ngFor="let blog of getSortedBlogs(); trackBy: detectChange">
      <div class="ui segment dzb-blog-item-content-background">
        <button class="ui red button dzb-blog-delete-button" *ngIf="isBlogOwner(blog)" (click)="delete(blog.id)">
          {{ "blog-item.blog.delete" | translate }}
        </button>
        <div class="ui link cards">
          <div class="card dzb-blog-item">
            <div class="image">
              <img [src]="blog.image" class="dzb-blog-item-image">
            </div>
            <div class="content">
              <div [innerText]="blog.title" class="header dzb-blog-item-title" (click)="openBlogDetail(blog)"></div>
              <div class="meta dzb-blog-item-misc-text">
                <span [innerText]="blog.subtitle"></span>
              </div>
              <div class="meta dzb-blog-item-misc-text">
                <span [innerText]="blog.username" (click)="viewProfile(blog.username)"></span>
              </div>
              <div [innerText]="getBriefContent(blog.content)" class="description dzb-blog-item-content"></div>
            </div>
            <div class="extra content dzb-blog-item-misc-text">
              <span [innerText]="blog.date | time" class="right floated"></span>
              <a (click)="archiveBlog(blog.id)"><i class="{{ isArchived(blog.id) ? 'pink' : '' }} heart icon"></i>{{ blog.likes }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<dzb-blog-detail *ngIf="activeBlog" [blog]="activeBlog"></dzb-blog-detail>